$main-font: "Roboto", sans-serif;
$secondary-font: "Prata", serif;

$white: #fff;
$white-light: #f5f5f5;
$black: #000;
$black-light: #121212;
$grey: #888;
$red-bright: #ff2e03;
$red: #f7755a;
$red-light: #f78a74;
